<html>
   <head>
      <title>Welcome</title>
      <meta http-equiv="refresh" content="0;url=/cgi-bin/start.py?uchi=0&sore=0">
      <!--<meta http-equiv="refresh" content="0;url=%URL%">-->
   </head>
   <body>
	&nbsp;
   </body>
</html>
